# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DownloadSecureFile@1
      name: securityFile
      inputs:
        secureFile: security-library.tar.gz
    - script: |
        mkdir -p $(Build.SourcesDirectory)/security
        cp "$(securityFile.secureFilePath)" $(Build.SourcesDirectory)/security/security-library.tar.gz
        tar -xzf $(Build.SourcesDirectory)/security/security-library.tar.gz -C $(Build.SourcesDirectory)/security
      displayName: 'Prepare security files'
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
