<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define the Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%logger{36}.%M:%L) - %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <!-- Use the Appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook">
        <delay>1000</delay>
    </shutdownHook>
</configuration>